/* Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #061c58;
}

.header-brand {
  font-size: 1.6rem;
  font-weight: 900;
  background: linear-gradient(90deg, rgb(14, 157, 154), rgb(71, 71, 164));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}


.header-nav {
  display: flex;
  gap: 20px;
}

.header-nav a {
 
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  background: linear-gradient(90deg, rgb(14, 157, 154), rgb(71, 71, 164));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-nav a:hover {
  color: #007bff;
}

.header-toggle {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-toggle input[type="checkbox"] {
  appearance: none;
  width: 40px;
  height: 20px;
  background-color: #031c28;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.header-toggle input[type="checkbox"]:checked {
  background-color: #364d7b;
}

.header-toggle input[type="checkbox"]::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: rgb(108, 99, 176);
  top: 1px;
  left: 1px;
  transition: transform 0.2s;
}

.header-toggle input[type="checkbox"]:checked::before {
  transform: translateX(20px);
}
